@import '../../styles/scripting.scss';

.close{
    display: none;
}
.popup
{
    position: relative;
    border: 2px solid $rosa;
    padding: 10px;
    border-radius: 10px;
    background-color: $rosa;
    z-index: 5;
    margin-bottom: 5px;
    color: $blanco;
    box-shadow: $shadow;

    span{
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: 70px;
        border-width: 10px;
        border-style: solid;
        border-color: $rosa transparent transparent transparent;
    }

    button{
     position: absolute;
     top: -20%;
     right: -10%;
     padding: 0;
     margin: 0;
     height: 20px;
     width: 20px;
     background-color: $blanco;
     outline: none;
     border: none;
     border-radius: 10px;
     text-transform: uppercase;
     color: $negro;
     cursor: pointer;
     box-shadow: $shadow;
    }
}
.container_buttons
{
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    bottom: 10%;
    background-color: transparent;
    align-items: flex-end;
    img{
        background-color: $blanco;
        border-radius: 25px;
        margin-top: 10px;
        padding: 10px;
        box-shadow: $shadow;
        width: 60px;
        height: 50px;
        cursor: pointer;


        @include tablet{
            width: 70px;
            height: 60px;
        }
    }
}